* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* Inicio */
body {
  background: #E6B0AA;
}

.banner {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
         
}
.banner a{
  font-size: 45px;
  color: #fff;
  text-decoration: none;
}
.banner a:hover{
  font-size: 200px;
  font-family:'Pacifico', cursiva;
  text-shadow: 4px 5px 3px rgb(0, 0, 0);
  color: rgb(253, 253, 253);
  text-decoration: none;
}

/* Desarrollo */

/* para almacenar a las cajitas */
.contenido {
  width: 100%;
  background: #fff;
  padding: 50px;
}
/* dimenciones de las cajas */
.contenido .secciones {
  width: 90%;
  margin: 100px auto;
}


/* 6 cajas pequeñas */
.contenido .secciones .seccion {
  width: 90%;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          /* color de las cajas pequeñas */
  background: #D7BDE2;
  margin: 50px auto;
  box-shadow: 15px 11px 11px 0px rgba(50, 50, 50, 0.68);
}

.contenido .secciones .seccion .imagen {
  width: 45%;
  height: 617px;
  /* color de las cajas iamgen */
  /* background: #808080; */
  border-radius: 20px;
  align-items: center;
}

.contenido .secciones .seccion .imagen img {
  width: 100%;
  border-radius: 20px;
  padding-top: 10px;
}

.contenido .secciones .seccion .info {
  width: 45%;
  text-align: justify;
  padding-right: 30px;
}
/* manipulacion color de la etiquetas de las h2*/
.contenido .secciones .seccion .info h2 {
  font-family: 'Pacifico', cursiva;
  color: #fff;
  padding-bottom: 50px;
  font-size: 44px;
}
/* manipulacion color la etiquetas de parrafo*/
.contenido .secciones .seccion .info p {
  font-family: 'Justo', cursiva;
  color: #fff;
  font-size: 22px;
  margin-top: 15px;
}

/* final de fotter */
footer {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

/* final */

footer a{
  font-size: 40px;
  /* adios maldita linea jajajajajaja */
  text-decoration: none;
  color: #fff;
  font-family: 'Cinzel', serif;
}
/* titulo de footer */
footer .resultado:hover{
  color: #FFC300;
  background: #ffff;
  border-radius: 15px;
  transform: 1s;
  text-decoration: none;
  font-family: 'Cinzel', serif;
}